PORT=YOUR_PORT_NUMBER

SLACK_TOKEN=YOUR_SLACK_TOKEN
SLACK_CHANNEL=YOUR_SLACK_CHANNEL

GROQ_API_KEY=YOUR_GROQ_API_KEY

LLM_MODEL=YOUR_LLM_MODEL
LLM_TEMPERATURE=YOUR_LLM_TEMPERATURE
TTS_MODEL=YOUR_TTS_MODEL

JIRA_USERNAME=YOUR_JIRA_USERNAME
JIRA_API_TOKEN=YOUR_JIRA_API
JIRA_URL=YOUR_JIRA_URL

GOOGLE_EMAIL=YOUR_GOOGLE_EMAIL
GOOGLE_PASSWORD=YOUR_GOOGLE_PASSWORD
GOOGLE_MEET_LINK=YOUR_GOOGLE_MEET_LINK

RECALL_API=YOUR_RECALL_API
ASSEMBLY_AI_API_KEY=YOUR_ASSEMBLY_AI_API_KEY

NGROK_AUTH_TOKEN=YOUR_NGROK_AUTH_TOKEN
WEBHOOK_URL=YOUR_WEBHOOK_URL
